<nav class="navbar navbar-expand-md">
    <div class="container bg-body-tertiary p-3 rounded-4 shadow">
        <a class="navbar-brand fs-4" href="/"><img src="{{url_for('static', filename='eazycart-logo.svg')}}" alt="kfc logo" class="img-fluid me-2" width="30" height="26">HFC</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav fs-5 mb-md-0 ms-auto">
                {% if admin == True %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">
                        <i class="bi bi-box-arrow-left me-1"></i>Go to home</a>
                </li>
                {% else %}
                {% for item in ['Cart', 'About'] %}
                <li class="nav-item mx-2">
                    <a class="nav-link{% if page_name == item %} active{% endif %}" href="/{{ item|lower }}">
                        <i class="bi {% if item == 'Cart' %}bi-cart-plus{% elif item == 'About' %}bi-info-circle{% endif %} me-1"></i>{{ item }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>