{% extends 'base.html' %} {% block body %}

<div class="container my-5">
    <label class="fs-5 mb-3"><a href="/" class="text-decoration-none text-body-tertiary">Home</a> - <a href="/orders" class="text-decoration-none text-body">Bill</a></label>
    <h4 class="fw-semibold display-6">My Bill</h4>
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card bg-body-tertiary">
                    <div class="card-body p-0">
                        <div class="invoice-container">
                            <div class="invoice-header px-3 py-3 mb-3">
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <a href="/" class="invoice-logo fs-4 text-decoration-none text-body">
										HFC
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <address class="text-md-end">
										Maxwell admin Inc, 45 NorthWest Street.<br>
										Sunrise Blvd, San Francisco.<br>
										98757 23492
									</address>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                        <div class="invoice-details">
                                            <address>
											{{user[0]}}<br>
											{{user[1]}}<br>
                                            {{user[2]}}
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 text-md-end">
                                        <div class="invoice-details">
                                            <div class="mb-3">
                                                <div>Invoice - #{{token}}</div>
                                                <div>{{order_dt[0]}}</div>
                                                <div>{{order_dt[1]}}</div>
                                            </div>
                                            <div class="invoice-details">
                                                <div>Order: {{order_dt[2]|capitalize}}</div>
                                                <div>Status: {{order_dt[3]}}</div>
                                                <div>Payment: {{user[3]|capitalize}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-body row justify-content-center">
                                <div class="row gutters">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table mb-4 m-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Items</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item, qty in items.items() %}
                                                    <tr>
                                                        <td>
                                                            {{item.name}}
                                                        </td>
                                                        <td>₹{{item.price}}</td>
                                                        <td>{{qty}}</td>
                                                        <td>₹{{item.price|int * qty}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="2">&nbsp;</td>
                                                        <td>
                                                            <p>
                                                                Subtotal<br> GST
                                                                <br>
                                                            </p>
                                                            <h5 class="text-success"><strong>Grand Total</strong></h5>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                ₹{{total}}<br> ₹10.00
                                                                <br>
                                                            </p>
                                                            <h5 class="text-success"><strong>₹{{total + 10}}</strong></h5>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <button class="btn btn-primary btn-finish-takeaway">Finish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}