{% extends 'base.html' %} {% block body %}
<div class="container my-5">
    <label class="fs-5 mb-3"><a href="/" class="text-decoration-none text-body-tertiary">Home</a> - <a href="/checkout/review"
            class="text-decoration-none text-body">Category</a></label>
    <h4 class="fw-semibold display-6">Category- {{name}}</h4>
    <div class="mb-4">
        <p class="lead text-muted">List of items for {{name|lower}}.</p>
    </div>
    <h3 class="fw-normal fs-3">{{name}} Menu</h3>
    <hr class="mb-4">
    <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for item in items %}
        <div class="col mb-3">
            <div class="card h-100 border shadow">
                <img class="img-fluid h-50 rounded" src="{{ url_for('static', filename='products/' + name|lower + '/' + item[3]) }}" alt="{{item[3]}}">
                <div class="card-body px-4">
                    <div class="text-center">
                        <h5 class="fw-bold">{{item[0]}}</h5>
                        <p class="fw-semibold">Price: ₹{{item[1]}}</p>
                        <label class="text-start">{{item[2]}}</label>
                    </div>
                    <p class="text-start mt-2">Category: <label class="fw-semibold">{{name}}</label></p>
                    <div class="d-flex">
                        <a role="button" class="btn btn-outline-secondary btn-add-cart w-100" data-id="123">
                            <i class="bi bi-cart-plus me-2"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="{{ url_for('static', filename='eazycart-logo.svg') }}" width="30" height="24">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 HFC, Inc</span>
        </div>
    </footer>
</div>
{% endblock %}