{% extends 'base.html' %} {% block body %}

<div class="container my-5">
    <label class="fs-5 mb-3"><a href="/" class="text-decoration-none text-body-tertiary">Home</a> - <a href="/checkout" class="text-decoration-none text-body">Checkout</a></label>
    <h4 class="fw-semibold display-6">Checkout</h4>
    <div class="mb-4">
        <p class="lead text-muted">Please fill in your details below.</p>
    </div>
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="card shadow px-3 py-4">
                <form id="checkout-form" class="row" method="post">
                    <div class="customer-details mb-3">
                        <h5 class="fw-normal">User details</h5>
                        <hr>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="user-fullname" class="form-label">Full Name</label>
                                <input type="text" name="user-fullname" class="form-control" id="user-fullname" value="{{e_session[2]}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="user-email" class="form-label">Email</label>
                                <input type="email" name="user-email" class="form-control" id="user-email" value="{{e_session[3]}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="user-phoneno" class="form-label">Phone Number</label>
                                <input type="number" name="user-phoneno" class="form-control" id="user-phoneno" value="{{e_session[1]}}">
                            </div>
                        </div>
                    </div>
                    <div class="payment-method mb-4">
                        <h5 class="fw-normal mb-3">Payment method</h5>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="payment-method" value="cash" id="cardRadio" checked>
                                <label class="form-check-label stretched-link" for="cardRadio">Cash payment</label>
                                <!-- <p class="form-text ms-4 m-0">VISA, Mastercard and American Express</p> -->
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="payment-method" value="paypal" id="paypalRadio">
                                <label class="form-check-label stretched-link" for="paypalRadio">PayPal</label>
                                <p class="form-text ms-4 m-0">Pay using PayPal</p>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="payment-method" value="googlepay" id="gpayRadio">
                                <label class="form-check-label stretched-link" for="gpayRadio">Google Pay</label>
                                <p class="form-text ms-4 m-0">Pay using Gpay wallet</p>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="/cart" class="btn btn-primary" role="button"><i class="bi bi-arrow-left me-2"></i>Back to cart</a>
                        <button href="/checkout/review" class="btn btn-primary btn-review-order disabled" type="submit">Place order<i class="bi bi-arrow-right ms-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-5 card shadow">
                <div class="card-header">
                    <h6 class="my-2">Order Summary</h6>
                </div>
                <div class="py-4 card-body">
                    <p class="text-muted text-sm">Shipping and additional costs are calculated based on values you have entered.
                    </p>
                    <table class="table card-text">
                        <tbody>
                            <tr>
                                <th class="py-4">Order Subtotal </th>
                                <td class="py-4 text-end text-muted">₹<label class="cart-subtotal">{{cart_total}}</label>
                                </td>
                            </tr>
                            <tr>
                                <th class="py-4">Shipping and handling</th>
                                <td class="py-4 text-end text-muted">₹<label class="cart-shipping-cost">10.00</label></td>
                            </tr>
                            <tr>
                                <th class="py-4">Tax</th>
                                <td class="py-4 text-end text-muted">₹0.00</td>
                            </tr>
                            <tr>
                                <th class="pt-4 border-0">Total</th>
                                <td class="pt-4 border-0 text-end h3 fw-normal text-nowrap">₹<label class="cart-total">{{cart_total + 10}}</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}