{% extends 'base.html' %} {% block body %}

<div class="container my-5">
    <label class="fs-5 mb-3"><a href="/" class="text-decoration-none text-body-tertiary">Home</a> - <a
            href="/checkout/confirm" class="text-decoration-none text-body">Order Confirmed</a></label>
    <h4 class="fw-semibold display-6">Order Confirmed</h4>
    <div class="mb-4">
        <div class="alert alert-success text-body my-4" role="alert">
            <div class="d-flex align-items-center justify-content-start">
                <i class="bi bi-check2-circle me-2 fs-2"></i>
                <label class="fs-5">Your order is confirmed</label>
            </div>
        </div>
        <p class="lead">Thank you, {{user[1]}}. Your order is confirmed.</p>
        <p class="lead">Your order hasn't shipped yet but we will send you ane email when it does.</p>
    </div>
    <div class="p-5 bg-body-tertiary my-3 mb-5">
        <div class="row">
            <div class="mb-5 mb-lg-0 col-lg-3 col-6">
                <div class="text-sm text-uppercase text-muted mb-3">Order no.</div><span class="h5">{{status[0]}}</span>
            </div>
            <div class="mb-5 mb-lg-0 col-lg-3 col-6">
                <div class="text-sm text-uppercase text-muted mb-3">Date</div><span class="h5">{{status[2]}}</span>
            </div>
            <div class="mb-5 mb-lg-0 col-lg-3 col-6">
                <div class="text-sm text-uppercase text-muted mb-3">Total</div><span class="h5">₹{{status[4]}}</span>
            </div>
            <div class="mb-5 mb-lg-0 col-lg-3 col-6">
                <div class="text-sm text-uppercase text-muted mb-3">Status</div><span class="h5">{{status[3]}}</span>
            </div>
        </div>
    </div>
    <a href="/orders" role="button" class="btn btn-primary">View or manage order</a>
</div>

{% endblock %}