{% extends 'base.html' %} {% block body %}
<div class="container my-5 p-3">
    <div>
        <h3 class="fw-normal fs-4"><i class="bi bi-trash me-2"></i>Remove Item</h3>
        <hr>
        <p class="mb-4 fw-light">Remove items from the menu with specific categories.</p>
    </div>
    <div class="menu-list">
        {% for ct in ['Breakfast', 'Lunch', 'Snacks', 'Dinner'] %}
        <h3 class="fw-normal fs-4">{{ct}}</h3>
        <hr class="mb-3">
        <ul class="list-group list-group-flush">
            {% for i, j in items.items() %}
                {% if i|capitalize == ct %}
                    {% if j|length == 0 %}
                        <p class="text-danger mb-5">No items found!</p>
                    {% else %}
                        <li class="list-group-item">
                            <div class="table-responsive">
                                <table class="table table-hover mb-4 m-0">
                                    <thead>
                                        <tr>
                                            <th colspan="2" scope="col">Items</th>
                                            <th class="text-center" colspan="2" scope="col">Price</th>
                                            <th class="text-center" colspan="2" scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in j %}
                                        <tr class="menu-item fade show">
                                            <td class="item-name" colspan="2">{{item[0]}}</td>
                                            <td class="item-price text-center" colspan="2">
                                                <span class="badge text-bg-secondary">₹{{item[1]}}</span>
                                            </td>
                                            <td class="item-action text-center" colspan="2">
                                                <button class="btn btn-sm btn-danger btn-remove-menu-item"  data-name="{{item[0]}}" data-category="{{i|lower}}" data-image="{{item[3]}}"><i class="bi bi-trash"></i></button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
        <a href="/admin" role="button" class="btn btn-outline-primary"><i class="bi bi-arrow-left me-2"></i>Go Back</a>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="{{ url_for('static', filename='eazycart-logo.svg') }}" width="30" height="24">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 HFC , Inc</span>
        </div>
    </footer>
</div>


{% endblock %}