<!DOCTYPE html>
<html>

<head>
    <title>Your HFC Takeaway Order Has Been Delivered!</title>
</head>

<body>
    <h4>Dear {{user}},</h4>

    <p>Your delicious order from HFC Takeaway has just been delivered.</p>
    <p>Token Number: <b>#{{token}}</b></p>

    <p>Thank you for choosing HFC Takeaway.</p>
    <p>We are looking forward to serving you again.</p>

    <p>Enjoy your meal!</p>

    <p class="mb-0">Best,</p>
    <p class="mb-0">HFC Takeaway Team</p>
    <p>mail@hfchotel.co</p>
</body>

</html>