{% extends 'base.html' %} {% block body %}
<div class="container my-5">
    <div class="p-3">
        <h3 class="fw-normal fs-4">Orders</h3>
        <hr class="mb-4">
        <p class="mb-4 fw-light">Proceed the list of following orders.</p>
    </div>
    {% if data|length == 0 %}
    <p class="text-danger p-3">No orders found!</p>
    {% else %}
    <div class="table-responsive p-3">
        <table class="table table-hover mb-3">
            <thead>
                <tr class="text-center user-order">
                    <th class="text-nowrap" scope="col"># Token</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Time</th>
                    <!-- Delivered tick -->
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for token, order in data.items() %}
                <tr class="text-center user-order">
                    <th scope="row"># {{order[0]}}</th>
                    <td>{{order[2]}}</td>
                    <td>{{order[3]}}</td>
                    <td>{{order[4]}}</td>
                    <td>
                        {% if order[5] == 'normal' %}
                        <span class="badge rounded-pill text-bg-warning">Low</span> {% else %}
                        <span class="badge rounded-pill text-bg-danger">High</span> {% endif %}
                    </td>
                    <td>{{order[6]}}</td>
                    <td>
                        <a role="button" class="btn btn-sm btn-success btn-remove-order" data-id="{{token}}" data-token="{{order[0]}}" data-name="{{order[2]}}" data-email="{{order[3]}}"><i class="bi bi-check2"></i></a>
                        <a href="/admin/orders/show/{{token}}" role="button" class="btn btn-sm btn-primary"><i
                                    class="bi bi-eye"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/admin" role="button" class="btn btn-outline-primary"><i class="bi bi-arrow-left me-2"></i>Go Back</a> {% endif %}
    </div>
</div>


{% endblock %}