{% extends 'base.html' %} {% block body %}
<div class="container my-5">
    <div class="p-3">
        <h3 class="fw-normal fs-4">Token #{{data[order_id|int][0]}}</h3>
        <hr class="mb-4">
        <p class="mb-1 lead"><b>Name:</b> {{data[order_id|int][2]}}</p>
        <p class="mb-1 lead"><b>Priority:</b> {% if data[order_id|int] == 'normal' %}
            <span class="badge rounded-pill text-bg-warning">Low</span> {% else %}
            <span class="badge rounded-pill text-bg-danger">High</span> {% endif %}
        </p>
        <p class="mb-1 lead"><b>Phone:</b> {{data[order_id|int][4]}}</p>
        <p class="mb-1 lead"><b>Email:</b> {{data[order_id|int][3]}}</p>
    </div>
    <p class="lead px-3"><i class="bi bi-arrow-right me-2"></i>Here is the list of dishes to prepare!</p>
    <div class="table-responsive p-3">
        <table class="table table-hover mb-3">
            <thead>
                <tr class="text-center">
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for name, qty in data[order_id|int][1].items() %}
                <tr class="text-center">
                    <td>{{name}}</td>
                    <td>{{qty}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <a href="/admin/orders" role="button" class="btn btn-outline-primary"><i class="bi bi-arrow-left me-2"></i>Go Back</a>
            <a href="/admin/orders" role="button" class="btn btn-remove-order btn-outline-success" data-id="{{order_id}}" data-token="{{data[order_id|int][0]}}" data-show="true">
                <i class="bi bi-clock-history me-2"></i>Deliver</a>
        </div>
    </div>

</div>


{% endblock %}